@font-face {
  font-family: "indieflower";
  src: url("./assets/fonts/indieflower-regular.ttf");
}

.font-indieflower {
  font-family: 'indieflower';
}


.App {
  text-align: center;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
a {
  text-decoration: none !important;
  color: inherit;
  &:hover {
    color: lightgray;
  }
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  display: flex;
  li {
    padding: 0.5rem;
    a {
      padding: 1rem;
      transition: all 0.5s;
      &:hover {
        background-color: rgba($color: gray, $alpha: 0.8);
      }
    }
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  // background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}